main.list > .sticky-header {
  grid-column: 1/4;
}

main.list > h1 {
  grid-column: 1/4;
  margin: 2.5em 0;
  font-size: 1.4em;
}

main.list > .left-ads {
  display: none;
  grid-column: 1/2;
}

main.list > .content {
  grid-column: 2/3;
}

main.list > .right-ads {
  display: none;
  grid-column: 3/4;
}

@media (min-width: 650px) {
  main.list {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 2em;
  }

  main.list > .left-ads,
  main.list > .right-ads {
    margin-bottom: 2em;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    max-width: 342px;
    height: 550px;
    position: sticky;
    top: 140px;
  }

  main.list > .left-ads {
    display: block;
    justify-self: right;
  }

  main.list > .right-ads {
    display: block;
  }
}
